
@{
    ViewBag.Title = "Query Error";
}
<br />
<br />
<div class="panel panel-warning">
    <div class="panel-heading" style="padding-top:25px;padding-bottom:25px;">
        <h1 class="panel-title text-center" style="font-size:20px;">Query Error</h1>
    </div>
</div>
<br />
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h3>Warning!</h3>
    <p>Execution Error </p>    
    <p>Please! Check the required date fields</p>
</div>
<br />
<div>
    <a class="btn btn-primary btn-sm" style="font-size:13px;" href="~/Facturas/AllFacturas">Back To Reports</a>
</div>

