@model IEnumerable<electronic_store.Models.Wishlist>
@{
    ViewBag.Title = "WishListUser";
}

<h2>WishListUser</h2>

<table class="table">
    <tr>
        <td>#</td>
        <th>
            Producto
        </th>
        <th>
            Fecha Registro
        </th>
        <th></th>
    </tr>
    @{
        int auxNum = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@(auxNum = auxNum + 1)</td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreado)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteAt", new { id = item.IDWishlist })
            </td>
        </tr>
    }
</table>