
@{
    ViewBag.Title = "Wishlist Incomplete";
}
<br />
<br />
<div class="panel panel-warning">
    <div class="panel-heading" style="padding-top:25px;padding-bottom:25px;">
        <h1 class="panel-title text-center" style="font-size:20px;">Execution Incomplete</h1>
    </div>
</div>
<br />
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h3>Warning!</h3>
    <p>Execution Error </p>
    <p>Please! You need to be registered to manage  a Wish List.</p>
</div>
<br />
<div>
    <a class="btn btn-primary btn-sm" style="font-size:13px;" href="~/Home/Index">Back To Home</a>
</div>

