@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-default" style="margin-top:30px;">
    <h2 class="text-center" style="color:white;">Explore Your Dreams</h2>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3">
            <div class="breadcrumb">
                <h2 class="my-4">Categories</h2>
            </div>
            <div class="list-group">
                <a href="~/Productoes/viewAllCollections" class="list-group-item">All Collections</a>
                <a href="~/Consultas/Accesorios" class="list-group-item">Accessories</a>
                <a href="~/Consultas/Case" class="list-group-item">Case</a>
                <a href="~/Consultas/TarjetaVideo" class="list-group-item">Grafics Card</a>
                <a href="~/Consultas/Monitor" class="list-group-item">Monitor</a>
                <a href="~/Consultas/TarjetaMadre" class="list-group-item">Motherboard</a>
                <a href="~/Consultas/Perifericos" class="list-group-item">Peripherals</a>
                <a href="~/Consultas/FuentePoder" class="list-group-item">Power Supply</a>
                <a href="~/Consultas/Procesador" class="list-group-item">Processor</a>
                <a href="~/Consultas/Ram" class="list-group-item">RAM</a>
                <a href="~/Consultas/DiscoDuro" class="list-group-item">Storage</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="~/Content/Images/Index/1.0.0.jpg" alt="banner1">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/110-gaming-logo.png" alt="banner2">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/35730_Gaming_LP_Gamescom_Banner_Startseite.jpg" alt="banner3">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/492044-gaming-mice-s-glowing-logos.jpg" alt="banner4">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/2578059-gameplay_gridautosport_gameplay1_20140625.jpg" alt="banner5">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/monitores._V508871358_.jpg" alt="banner6">
                    </div>
                    <div class="item">
                        <img src="~/Content/Images/Index/strike-spectra.jpg" alt="banner7">
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <br />
            <br />
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:auto;">
    <div class="col-md-4">
        <h2>Feel the Power</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Feel Free</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be Happy</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>